body {
	background-color: white;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 96% 96%;
        background-image: url('bckgrd2.jpg');
        background-size: cover;
	color: black;
	font-family: 'Lucida Sans', 'Helvetica', 'Sans-serif', 'sans';
	font-size: 9pt;
	line-height: 1.8em;
	padding: 10px 10px 10px 10px;
	margin: 10px auto;
        width: 960px;
       
}

#bigwrapper{
	background-color: #292929;
        background-image: url('bckgrd.jpg');
        background-size: cover;
	border: 2px solid black;
	border-radius: 15px;
	width:1000px;
        padding:20px 20px 20px 20px;
	margin: 20px auto;
	text-align:left;
	
	-webkit-box-shadow: 0px 0px 24px 6px #D2D2D2;
	
}

#listeler{
	background: rgba(0, 0, 0, 0.6);
	border-radius: 15px;
        padding: 10px 10px 10px 10px;
        width: 600px;
        color: graytext;
        margin-top: 10px;
        margin-bottom: 20px;
	text-align:left;
	
	
}

h1,h2,h3,h4,h5,h6,h7,h8 {
	color: white;
}

#extitle {
	font-size: 12pt;
	font-weight: bold;
	color: white;
	padding: 10px 10px 10px 10px;
}

#footerpanel{
    padding-left: 10px;
}

.feedbackPanelERROR {
	color: red;
	list-style: circle;
	font-weight: bold;
}

.feedbackPanelINFO {
	color: green;
	list-style: circle;
	font-weight: bold;
}

#hellomessage {
	font-size: 30pt;
}

#titleblock {
	text-align:left;
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid #6c8cb6;
	border-radius:10px;
	padding: 20px;
        color: white;
	
	display:-webkit-box;
	-webkit-box-flex:1;
}

h2 {
	font-size: 1.25em;
        margin: 5px;
        color: white;
}

h3 {
	font-size: 1em;
}

a {
	color: #6F6F6F;
	text-decoration: underline;
}

img {
	border: none;
}

pre {
	font-family: 'Lucida Sans', 'Helvetica', 'Sans serif', 'sans';
}

th {
	background: #C3C3C3;
	color: white;
	font-weight: bold;
}

tr.b {
	background: #F5F5F5;
}

tr.a {
	background: #E6E6E5;
}

tr.none {
	background: transparent;
}

a.none {
	background: transparent;
	padding-right: 0px;
}
input {
    
    
         
}

#menu{margin:5px;}

#button {
   -moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #21dcdc), color-stop(1, #1b82db) );
	background:-moz-linear-gradient( center top, #1b82db 5%, #21dcdc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea');
	background-color:#bddbfa;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #133bb1;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:3px 12px;
        margin-left: 5px;
        margin-top: 5px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}
#button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa) );
	background:-moz-linear-gradient( center top, #80b5ea 5%, #bddbfa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eac380', endColorstr='#fae4bd');
	background-color:#eac380;
}
#button:active {
	position:relative;
        right:1px;
        bottom:1px;
}

#logintable {
	font-family: 'Lucida Sans', 'Helvetica', 'Sans serif', 'sans';
        color:white;
}
#inputForm {
	width: 300px; color: purple;
}

#inputForm label {
	display: block;
	margin-top: 5px;
         color: purple;
}

#inputForm label.non {
	display: inline !important;
}

#inputFormTable td {
	vertical-align: top;
	padding: 10px;
}

#nestedExampleTree {
	width: 300px;
}

#feedbackPanel {
	width: 600px;
}

#siteSelection {
	width: 200px;
}
